{% extends "landing/base.html" %}
{%  load widget_tweaks %}
{% block title%}
    Datacast-login
{% endblock %}
{% block content %}
    {% load static %}
<style>
div.register_ctn {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}
</style>
<!--================ Hero sm Banner start =================-->
  <section class="hero-banner hero-banner--sm" style="background-color: #faf9ff">
    <div class="container">
      <div class="hero-banner--sm__content">
        <h1>LOGIN</h1>
      </div>
    </div>
  </section>
 <!--================ Pricing section start =================-->

  <section class="section-margin">
    <div class="container">

      {% if not user.is_active %}
        <div class="row">
        <div class="col-lg-3">
        </div>
                    <div class="col-md-6 col-lg-6">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <div class="font-weight-bold">아이디나 패스워드가 잘못됐습니다.</div>
                        </div>
                    {% endif %}

                        <form action="." method="post" class="card pt-4">{% csrf_token %}
                            <div class="form-group row">
                                {{ form.username|add_label_class:"col-form-label col-sm-3 ml-5 font-weight-bold" }}
                                <div class="col-sm-5">
                                    {{ form.username|add_class:"form-control"|attr:"autofocus" }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ form.password|add_label_class:"col-form-label col-sm-3 ml-5 font-weight-bold" }}
                                <div class="col-sm-5">
                                    {{ form.password|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class = "form-group">
                                <div class="offset-sm-7 col-sm-5 ml-10">
                                <input type="submit" value="로그인" class="btn btn-light"/>

                                    <input type="hidden" name="next" value="{{ next }}"/>
                                </div>
                            </div>
                        </form>
        <div class="register_ctn mt-5">
                        아이디가 없으신가요?
                        <button style="font-size: 12px; color: black" class="btn btn-light IBMPlexSansKR-Text bold" onclick="location.href=
                        '{% url 'register' %}'">회원가입
                        </button></div>
                    </div>

                <div class="col-lg-3">
            </div>
            </div>

          {% else %}
              <div class="row">
              <div class="col-lg-5">

                </div>
                <div class="col-md-6 col-lg-2">
                  <button class="mr-5 button button-header bg IBMPlexSansKR-Text bold" onclick="location.href=
                '{% url 'landing:analysis_add' %}'">DUAL WORDCLOUD</button>
                </div>
                <div class="col-lg-5">

                </div>
              </div>

              {% endif %}
        </div>
  </section>
  <!--================ Pricing section end =================-->

{% endblock %}