[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/anaconda3/envs/datacast_landing/bin/uwsgi -i /home/ubuntu/pycharm/datacast/.config/uwsgi/datacast.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target